.aboutUs{

    @media(min-width: 0px){
        max-width: 330px;
    }

    @media(min-width: 576px){
        max-width: 510px;
    }

    @media(min-width: 768px){
        max-width: 690px;
    }

    @media(min-width: 992px){
        max-width: 450px;
    }

    @media(min-width: 1200px){
        max-width: 540px;
    }

}
.headerFoto{

    @media(min-width: 0px){
        max-height: 327px;
        width: 100%;
    }

    @media(min-width: 576px){
        max-height: 400px;
        width: 100%;
    }

    @media(min-width: 768px){
        max-height: 376px;
        width: 100%;
    }

    @media(min-width: 992px){
        max-height: 800px;
        width: 100%;
    }

}